html{
    font-family: 'Special Elite', cursive;
	font-size: 10px;
	background-color: #911921;
}

h1{
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

p, li{
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body{
	width: 600px;	
	background-color: #EC9C47;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	
}

img {
    display: block;
	width: 600px;
	height: 600px;
	margin: 0 auto;
}